name: flutter_tencent_lbs_plugin
description: Flutter 腾讯位置服务/定位插件（第三方）
version: 0.0.1
homepage: https://github.com/Y-Hui/flutter_tencent_lbs_plugin
repository: https://github.com/Y-Hui/flutter_tencent_lbs_plugin

environment:
  sdk: '>=3.1.5 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.flutter_tencent_lbs_plugin
        pluginClass: FlutterTencentLBSPlugin
      ios:
        pluginClass: FlutterTencentLBSPlugin
